.Titulo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:beige
}

.Fundo{
    background-color: rgb(84, 89, 90);
}

.filme{
    width: 30%;
    
    text-align: center;
}

.subtitulos{
    text-align:center;
    color: beige;
    font-size: 30px;
}

.container{
   
}